<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SSE Watcher</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script type="text/javascript" src="/static/NchanSubscriber.js"></script>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">SSE</a>
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/listen">
              Events Flow
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listen/dump">Channel Dump</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="card m-ms-1">
            <div class="card-body">
              <h5 class="card-title">Subscribe to Channel</h5>
              <form method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Channel Id</label>
                  <input
                    type="text"
                    name="channel"
                    class="form-control"
                    placeholder="user_notifications_123"
                    value="{{ .channel }}"
                  />
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type"
                    id="exampleRadios1" value="1"
                    {{ if eq .type "1" }} checked {{ end }}
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      Single channel subscription
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="type"
                    id="exampleRadios2" value="2"
                    {{ if eq .type "2" }} checked {{ end }}
                    />
                    <label class="form-check-label" for="exampleRadios2">
                      Multi-channel subscription
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Last Event Id</label>
                  <input
                    type="text"
                    name="last_event_id"
                    class="form-control"
                    placeholder="12344567890:12334552"
                    value="{{ .last_event_id }}"
                  />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="card m-ms-1">
            <div class="card-body">
              <h5 class="card-title">Messages</h5>
              <div class="card-text" id="messages">
                <p>Waiting for events...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function addMsg(id, msg) {
        var br = document.createElement('br');
        document.getElementById('messages').appendChild(br);

        var node = document.createElement('pre');
        var strong = document.createElement('strong');
        var id = document.createTextNode(id);
        var n = document.createTextNode('\n');
        var m = document.createTextNode(msg);
        strong.appendChild(id);
        node.appendChild(strong);
        node.appendChild(n);
        node.appendChild(m);
        document.getElementById('messages').appendChild(node);
      }

      function addAlert(type, msg) {
        var node = document.createElement('div');
        node.setAttribute('class', 'alert alert-' + type);
        node.setAttribute('role', 'alert');
        var textnode = document.createTextNode(msg);
        node.appendChild(textnode);
        document.getElementById('messages').appendChild(node);
      }

      function addSuccess(msg) {
        addAlert('success', msg);
      }

      function addErr(msg) {
        addAlert('danger', msg);
      }

      function addWarn(msg) {
        addAlert('warning', msg);
      }

      function addInfo(msg) {
        addAlert('primary', msg);
      }

      function addDebug(msg) {
        addAlert('light', msg);
      }

      if (!!window.EventSource) {
        var source = new EventSource(
          '{{ .endpoint }}/{{ .channel }}?last_event_id={{ .last_event_id }}',
          { withCredentials: true }
        );

        source.addEventListener(
          'message',
          function(e) {
            addMsg(e.lastEventId, e.data);
          },
          false
        );

        source.onerror = function(e) {
          if (this.readyState == EventSource.CLOSED) {
            addInfo('Connection closed');
          }
          if (this.readyState == EventSource.CONNECTING) {
            addWarn('Connection lost, reconnecting...');
          }
          if (this.readyState == EventSource.OPEN) {
            addSuccess('Connection successfully established');
          }
        };

        source.addEventListener(
          'open',
          function(e) {
            addSuccess('Connection successfully established');
          },
          false
        );

        source.addEventListener(
          'close',
          function(e) {
            addInfo('Connection closed');
          },
          false
        );

        source.addEventListener(
          'notification',
          function(e) {
            console.log(e.data);
          },
          false
        );
      } else {
        addErr('Event source is not supported');
      }
    </script>
  </body>
</html>
